{{ define "page/login.html" }}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
{{ template "base/header.html" }}

<body class="mdui-theme-primary-deep-orange">
    <div class="mdui-appbar">
        <div class="mdui-toolbar mdui-color-theme">
            <span class="mdui-typo-title mdui-text-color-white mdui-center" id="toolbar-title">登录</span>
        </div>
    </div>


    <div class="mdui-container" style="margin-top: 56px">
        <div class="mdui-textfield mdui-textfield-floating-label mdui-center" style="max-width: 500px">
            <label class="mdui-textfield-label">邮箱或手机号</label>
            <input id="account" class="mdui-textfield-input" required />
        </div>

        <div class="mdui-textfield mdui-textfield-floating-label mdui-center" style="max-width: 500px">
            <label class="mdui-textfield-label">密码</label>
            <input id="password" class="mdui-textfield-input" type="password"
                pattern="^.*(?=.{6,})(?=.*[a-z])(?=.*[A-Z]).*$" required />
            <div class="mdui-textfield-error">密码至少 6 位，且包含字母</div>
            <div class="mdui-textfield-helper">请输入至少 6 位，且包含字母的密码</div>
        </div>

        <div class="mdui-container" style="margin-top: 20px">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-text-color-white mdui-center"
                style="max-width: 200px;width: 100%;background-color: #ff5722!important" onclick="doLogin()">登录
            </button>
        </div>
        <div class="mdui-container" style="margin-top: 20px">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-text-color-white mdui-center"
                style="max-width: 200px;width: 100%;background-color: #ff5722!important" onclick="toRegisterPage()">注册
            </button>
        </div>
    </div>


    <!-- MDUI JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script>
        function doLogin() {
            let account = $('#account').val();
            let password = $('#password').val();
            login(account, password);
        }

        function toRegisterPage() {
            window.location.href = '/view/user/register'
        }


        function login(account, password) {
            let email = ""
            let mobile = 0
            if (isEmail(account)) {
                email = account
            } else if (isMobile(account)) {
                mobile = account
            }
            let postData = {
                password: password,
                email: email,
                mobile: parseInt(mobile),
            }
            $.ajax({
                method: 'POST',
                url: '/v1/api/user/login',
                data: JSON.stringify(postData),
                success: function (data) {
                    let jsonData = JSON.parse(data)
                    if (jsonData.error !== 0) {
                        mdui.snackbar({
                            message: jsonData.msg,
                            position: 'top',
                        })
                    } else {
                        mdui.snackbar({
                            message: '登录成功',
                            position: 'top',
                        })
                        setUserInfo(jsonData.data[0])
                        window.location.href = '/'
                    }
                },
                error: function (data) {

                }
            })
        }
    </script>
</body>

</html>
{{ end }}