.vscode/launch.json
web/static/css
web/static/js
web/static/favicon.ico
web/static/index.html
go.sum
.idea/.gitignore
.idea/dataSources.xml
.idea/GSReader-Lite.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
db.sqlite3
log