{{ define "base/drawer.html"}}
<div class="mdui-drawer" id="left-drawer">
    <ul class="mdui-list" mdui-collapse="{accordion: true}" id="drawer-list">
        <li class="mdui-subheader">{{.userSubHeader}}</li>
        <li class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">account_circle</i>
            <a class="mdui-list-item-content" id="drawer-username"></a>
        </li>
        <li class="mdui-subheader">Feed</li>
        <li class='mdui-list-item mdui-ripple {{ if eq .feedDrawerTab "home"}}mdui-list-item-active{{ end }}'
            id="drawer-home-item">
            <i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "home"}}mdui-text-color-theme{{ end }}'
                id="drawer-home-item-icon">rss_feed</i>
            <a href="/view/" class="mdui-list-item-content">{{.homeTitle}}</a>
        </li>
        <li class='mdui-list-item mdui-ripple {{ if eq .feedDrawerTab "search"}}mdui-list-item-active{{ end }}'
            id="drawer-search-item">
            <i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "search"}}mdui-text-color-theme{{ end }}'
                id="drawer-search-item-icon">search</i>
            <a href="/view/search" class="mdui-list-item-content">{{.searchTitle}}</a>
        </li>
        <li class='mdui-list-item mdui-ripple {{ if eq .feedDrawerTab "fav"}}mdui-list-item-active{{ end }}'
            id="drawer-fav-item">
            <i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "fav"}}mdui-text-color-theme{{ end }}'
                id="drawer-fav-item-icon">favorite_border</i>
            <a href="/view/fav" class="mdui-list-item-content">{{.favTitle}}</a>
        </li>
        <li class='mdui-list-item mdui-ripple {{ if eq .feedDrawerTab "add"}}mdui-list-item-active{{ end }}'
            id="drawer-add-item">
            <i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "add"}}mdui-text-color-theme{{ end }}'
                id="drawer-add-item-icon">add_circle_outline</i>
            <a href="/view/add" class="mdui-list-item-content">{{.addTitle}}</a>
        </li>
        <li class="mdui-collapse-item" id="drawer-sub-item">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                <i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "sub"}}mdui-text-color-theme{{ end }}'
                    id="drawer-sub-item-icon">format_list_bulleted</i>
                <a class="mdui-list-item-content">{{.subTitle}}</a>
                <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense" id="sub-channel-drawer-list">

            </ul>
        </li>
    </ul>
</div>
<style>
    @media only screen and (min-width: 1024px) {
        #left-drawer {
            margin-top: 56px;
        }
    }
</style>
{{ end }}