<!DOCTYPE html>
<html lang="zh-cmn-Hans">
{{template "base/header.html" .}}

<body class="mdui-drawer-body-left mdui-theme-primary-deep-orange">
	{{ template "base/toolbar.html" .}}
	{{ template "base/drawer.html" .}}
	<div class="mdui-container-fluid" style="padding-left: 0px;padding-right: 0px;">
		<div class="mdui-center" style="padding-top: 56px;max-width: 800px">
			{{ if eq .feedDrawerTab "home"}}
			{{ template "component/allItemList.html" .}}
			{{ end }}
			{{ if eq .feedDrawerTab "add"}}
			{{ template "pages/addChannelPage.html" .}}
			{{ end }}
			{{ if eq .feedDrawerTab "search"}}

			{{ end }}
		</div>
	</div>

	<!-- MDUI JavaScript -->
	{{ template "index/script.html" }}
	{{ if eq .feedDrawerTab "home"}}
	<script>
		loadFeedItemByUserID()

		getSubChannelListTmpl()
		var itemStart = 0
		var itemSize = 10
		function loadFeedItemByUserID() {
			$.ajax({
				method: 'GET',
				url: '/view/all/feed/item/list',
				data: {
					userId: userInfo.uid,
					start: itemStart,
					size: itemSize
				},
				success: function (data) {
					if (data.includes('id="no-more-items"')) {
						$('#load-more-items').hide()
					}
					$('#feed-item-list').append(data)
					parseDescriptionStringToHtml()
					itemStart = itemStart + 10
				}
			});
		}
		function refreshFeedItems() {
			$('#feed-item-list').empty()
			itemStart = 0
			$('#load-more-items').show()
			loadFeedItemByUserID()
		}

		function toItemSourcePage(link) {
			window.open(link, '_blank')
		}
	</script>
	{{end}}
</body>

</html>