<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
	<meta name="renderer" content="webkit" />
	<meta name="force-rendering" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<link rel="icon" type="image/x-icon" href="/public/favicon.ico">
	<!-- MDUI CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css" />
	<title>{{.title}}</title>
</head>

<body class="mdui-drawer-body-left mdui-theme-primary-deep-orange">
	<div class="mdui-drawer" id="left-drawer">
		<ul class="mdui-list" mdui-collapse="{accordion: true}" id="drawer-list">
			<li class="mdui-subheader">{{.userSubHeader}}</li>
			<li class="mdui-list-item mdui-ripple" mdui-drawer-close>
				<i class="mdui-list-item-icon mdui-icon material-icons">account_circle</i>
				<a class="mdui-list-item-content" id="drawer-username"></a>
			</li>
			<li class="mdui-subheader">Feed</li>
			<li class='mdui-list-item mdui-ripple {{ if eq .feedDrawerTab "home"}}mdui-list-item-active{{ end }}'
				mdui-drawer-close id="drawer-home-item">
				<i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "home"}}mdui-text-color-theme{{ end }}'
					id="drawer-home-item-icon">rss_feed</i>
				<a href="/view/" class="mdui-list-item-content">{{.homeTitle}}</a>
			</li>
			<li class='mdui-list-item mdui-ripple {{ if eq .feedDrawerTab "search"}}mdui-list-item-active{{ end }}'
				mdui-drawer-close id="drawer-search-item">
				<i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "search"}}mdui-text-color-theme{{ end }}'
					id="drawer-search-item-icon">search</i>
				<a href="/view/search" class="mdui-list-item-content">{{.searchTitle}}</a>
			</li>
			<li class='mdui-list-item mdui-ripple {{ if eq .feedDrawerTab "fav"}}mdui-list-item-active{{ end }}'
				mdui-drawer-close id="drawer-fav-item">
				<i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "fav"}}mdui-text-color-theme{{ end }}'
					id="drawer-fav-item-icon">favorite_border</i>
				<a href="/view/fav" class="mdui-list-item-content">{{.favTitle}}</a>
			</li>
			<li class='mdui-list-item mdui-ripple {{ if eq .feedDrawerTab "add"}}mdui-list-item-active{{ end }}'
				mdui-drawer-close id="drawer-add-item">
				<i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "add"}}mdui-text-color-theme{{ end }}'
					id="drawer-add-item-icon">add_circle_outline</i>
				<a href="/view/add" class="mdui-list-item-content">{{.addTitle}}</a>
			</li>
			<li class="mdui-collapse-item" id="drawer-sub-item">
				<div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
					<i class='mdui-list-item-icon mdui-icon material-icons {{ if eq .feedDrawerTab "sub"}}mdui-text-color-theme{{ end }}'
						id="drawer-sub-item-icon">format_list_bulleted</i>
					<a class="mdui-list-item-content">{{.subTitle}}</a>
					<i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
				</div>
				<ul class="mdui-collapse-item-body mdui-list mdui-list-dense" id="sub-channel-drawer-list">

				</ul>
			</li>
		</ul>
	</div>
	<div class="mdui-container-fluid" style="padding-left: 0px;padding-right: 0px;">
		<div class="mdui-toolbar mdui-color-theme" style="position: fixed; top: 0;z-index: 1001">
			<button class="mdui-btn" id="menu-btn" mdui-drawer="{target: '#left-drawer'}">
				<i class="mdui-icon material-icons  mdui-text-color-white">menu</i>
			</button>
			<span class="mdui-typo-title mdui-text-color-white" id="toolbar-title">{{.toolBarTitle}}</span>
			<div class="mdui-toolbar-spacer"></div>
			<a href="javascript:;" class="mdui-btn mdui-btn-icon" id="toolbar-feed-refresh-btn"
				onclick="refreshFeedItems()">
				<i class="mdui-icon material-icons mdui-text-color-white">refresh</i>
			</a>
		</div>
		<div class="mdui-center" style="padding-top: 56px;max-width: 800px">
			{{ if eq .feedDrawerTab "home"}}
			<div class="mdui-container" id="home-container">
				<ul class="mdui-list" id="feed-item-list">

				</ul>
				<div class="mdui-valign">
					<div class="mdui-center">
						<button class="mdui-btn mdui-ripple" id="load-more-items"
							onclick="loadFeedItemByUserID()">{{.loadMoreBtn}}</button>
					</div>
				</div>
			</div>
			{{ end }}
			{{ if eq .feedDrawerTab "add"}}
			<div class="mdui-textfield mdui-textfield-floating-label mdui-center" style="max-width: 500px">
				<label class="mdui-textfield-label">{{.RSSLink}}</label>
				<input id="rss-link" class="mdui-textfield-input" required />
			</div>
			<div class="mdui-container" style="margin-top: 20px">
				<button class="mdui-btn mdui-btn-raised mdui-ripple mdui-text-color-white mdui-center"
					style="max-width: 200px;width: 100%;background-color: #ff5722!important"
					onclick="AddFeedChannelByUserID()">{{.AddBtnText}}
				</button>
			</div>
			{{ end }}
			{{ if eq .feedDrawerTab "search"}}

			{{ end }}
		</div>
	</div>

	<!-- MDUI JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
	<script src="/public/js/common.js"></script>
	<script src="/public/js/verify.js"></script>
	<script src="/public/js/feed.js"></script>
	<script>
		let containerInitStatus = {
			"home": 0,
			"sub": 0,
			"search": 0,
			"fav": 0,
		}

		let userInfo = getUserInfo();
		if (userInfo !== null && userInfo !== undefined) {
			if (userInfo.username !== '') {
				$('#drawer-username').text(userInfo.username);
			} else if (userInfo.mobile !== '') {
				$('#drawer-username').text(userInfo.mobile);
			} else if (condition.email !== '') {
				$('#drawer-username').text(userInfo.email);
			}
		}

		getSubChannelListTmpl()

		function toItemSourcePage(link) {
			window.open(link, '_blank')
		}

		function toFeedChannelPage(channelId) {
			window.location.href = '/view/feed/channel/info/' + channelId +'/'+ getUserInfo().uid
		}
	</script>
	{{ if eq .feedDrawerTab "home"}}
	<script>
		loadFeedItemByUserID()
	</script>
	{{end}}
</body>

</html>