{{ define "index/script.html" }}
<script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script src="/public/js/common.js"></script>
<script src="/public/js/verify.js"></script>
<script src="/public/js/feed.js"></script>
<script>
    let containerInitStatus = {
        "home": 0,
        "sub": 0,
        "search": 0,
        "fav": 0,
    }

    let userInfo = getUserInfo();
    if (userInfo !== null && userInfo !== undefined) {
        if (userInfo.username !== '') {
            $('#drawer-username').text(userInfo.username);
        } else if (userInfo.mobile !== '') {
            $('#drawer-username').text(userInfo.mobile);
        } else if (condition.email !== '') {
            $('#drawer-username').text(userInfo.email);
        }
    }
    getSubChannelListTmpl()
    function toFeedChannelPage(channelId) {
        window.location.href = '/view/feed/channel/info/' + channelId + '/' + getUserInfo().uid
    }
</script>
{{ end }}