<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <!-- MDUI CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>
    <title>锅烧阅读</title>
</head>
<body class="mdui-theme-primary-deep-orange">
<div class="mdui-appbar">
    <div class="mdui-toolbar mdui-color-theme">
        <span class="mdui-typo-title mdui-text-color-white mdui-center" id="toolbar-title">登录</span>
    </div>
</div>


<div class="mdui-container" style="margin-top: 56px">
    <div class="mdui-textfield mdui-textfield-floating-label mdui-center" style="max-width: 500px">
        <label class="mdui-textfield-label">邮箱或手机号</label>
        <input id="account" class="mdui-textfield-input" required/>
    </div>

    <div class="mdui-textfield mdui-textfield-floating-label mdui-center" style="max-width: 500px">
        <label class="mdui-textfield-label">密码</label>
        <input id="password" class="mdui-textfield-input" type="text" pattern="^.*(?=.{6,})(?=.*[a-z])(?=.*[A-Z]).*$" required/>
        <div class="mdui-textfield-error">密码至少 6 位，且包含字母</div>
        <div class="mdui-textfield-helper">请输入至少 6 位，且包含字母的密码</div>
    </div>

    <div class="mdui-container" style="margin-top: 20px">
        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-text-color-white mdui-center"
                style="max-width: 200px;width: 100%;background-color: #ff5722!important" onclick="doLogin()">登录
        </button>
    </div>
    <div class="mdui-container" style="margin-top: 20px">
        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-text-color-white mdui-center"
                style="max-width: 200px;width: 100%;background-color: #ff5722!important" onclick="toRegisterPage()">注册
        </button>
    </div>
</div>


<!-- MDUI JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script src="/public/js/common.js"></script>
<script>
    function doLogin() {
        let account = $('#account').val();
        let password = $('#password').val();
        login(account, password);
    }

    function toRegisterPage() {
        window.location.href = '/view/user/register'
    }
</script>
</body>
</html>