{{ define "feed/channelPage.html" }}
{{ template "base/header.html" }}
<body class="mdui-theme-primary-deep-orange">
    <div class="mdui-appbar" style="position: fixed; top: 0;z-index: 1001; width: 100%;">
        <div class="mdui-toolbar mdui-color-theme">
            <span class="mdui-typo-title mdui-text-color-white mdui-center" id="toolbar-title">{{.toolBarTitle}}</span>
        </div>
    </div>
    <div class="mdui-center" style="padding-top: 56px;max-width: 800px">
        <div class="mdui-container" id="home-container">
            <ul class="mdui-list" id="feed-channel-item-list">

            </ul>
            <div class="mdui-valign">
                <div class="mdui-center">
                    <button class="mdui-btn mdui-ripple" id="feed-channel-item-load-more"
                        onclick="loadFeedChannelItem()">{{.loadMoreBtnText}}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MDUI JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <script src="/public/js/common.js"></script>
    <script src="/public/js/verify.js"></script>
    <script>
        var itemStart = 0
        var itemSize = 10
        loadFeedChannelItem()
        function loadFeedChannelItem() {
            userInfo = getUserInfo()
            $.ajax({
                method: 'GET',
                url: '/view/feed/channel/items/',
                data: {
                    userId: userInfo.uid,
                    start: itemStart,
                    size: itemSize,
                    channelId: '{{.channelInfo.Id}}'
                },
                success: function (data) {
                    if (data.includes('id="no-more-items"')) {
                        $('#feed-channel-item-load-more').hide()
                    }
                    $('#feed-channel-item-list').append(data)
                    parseChannelItemsDescriptionStringToHtml()
                    itemStart = itemStart + 10
                }
            });
        }
        function toItemSourcePage(link) {
            window.open(link, '_blank')
        }
        function parseChannelItemsDescriptionStringToHtml() {
            $('#feed-channel-item-list').find('.feed-item-description-tag').each(function (index, element) {
                $(this).html($(this).text())
            })
        }
        function toFeedChannelPage(channelId) {
            window.location.href = '/view/feed/channel/info/' + channelId + '/' + getUserInfo().uid
        }
    </script>
</body>

</html>
{{ end }}