{{ define "feed/feed-item-list.html" }}
{{ $itemLen := len .items }}
{{ if lt $itemLen 1 }}
<div class="mdui-container" id="no-more-items">
    <div class="mdui-valign">
        <p class="mdui-center">{{ .message }}</p>
    </div>
</div>
{{ else }}
{{ range .items}}
<div class="mdui-card" style="margin-top: 20px;">

    <div class="mdui-card-header">
        <img class="mdui-card-header-avatar"
            src="{{if .ChannelImageUrl}}{{.ChannelImageUrl}} {{else}}/public/favicon.ico{{end}}"  onclick="toFeedChannelPage('{{.ChannelId}}')"/>
        <a class="mdui-card-header-title" href="{{ .Link }}" target="_blank">{{.Title}}</a>
        <div class="mdui-card-header-subtitle" onclick="toFeedChannelPage('{{.ChannelId}}')">{{.ChannelTitle}}</div>
    </div>

    <div class="mdui-card-media">
        <img src="{{.Thumbnail}}" alt="" />
    </div>

    <div class="mdui-card-content mdui-ripple feed-item-description-tag" onclick="toItemSourcePage('{{ .Link }}')">{{.Description}}</div>

    <div class="mdui-card-actions">
        <button class="mdui-btn mdui-ripple">
            <i class="mdui-icon material-icons {{if .Marked}}mdui-text-color-theme{{end}}">favorite_border</i>
        </button>
        <button class="mdui-btn mdui-ripple"><i class="mdui-icon material-icons">share</i></button>
    </div>

</div>
{{ end }}
{{ end }}
{{ end }}